body {
    margin: 0;
    padding: 0;
}
#container { 
	width: 100%;
	margin: 0 auto;
}
div {
	background-color: #E0FFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 15px;
	width: 150px;
	float: left;
	letter-spacing: 2px;
}

button {
	margin: 10px;
	background-color: #FFF5FF;
	color: #4DDBFF;
}